obj
bin
old
.vs
*.user
Els_kom_Core/Classes/Git.cs
# hack for Visual Studio Designer.
Els_kom_Core/Classes/ResourcesDir.cs
*.res
Els_kom/Resources/els_kom.resx
# build log crap.
*.log
*.tlog
*.lastbuildstate
# local backup files.
*.bak
# possible patch files that can be made by anyone.
*.patch
*.diff
Plugins
!Plugins/README.md
# build profiling files.
*.diagsession
# zip files.
*.zip
!/legacy/bin/Els_kom.exe

!/legacy/bin/Els_kom.exe.manifest

!/legacy/bin/els_kom.ico

!/legacy/bin/Elsword_x2.exe_cursor.cur

!/legacy/bin/Kom File Contents.txt

!/legacy/bin/Launcher.exe

!/legacy/bin/Launcher.exe.manifest

!/legacy/bin/pack.bat

!/legacy/bin/pack2.bat

!/legacy/bin/readme.md

!/legacy/bin/readme.txt

!/legacy/bin/Test_Mods.exe

!/legacy/bin/Test_Mods.exe.manifest

!/legacy/bin/unpack.bat

!/legacy/bin/unpack2.bat

!/legacy/Els_kom/els_kom.res

!/legacy/Els_kom/Resources.res

!/legacy/Els_kom_Launcher_Stub/Launcher.res

!/legacy/Els_kom_Test_Mods_Stub/Test_Mods.res

