obj
bin
old
.vs
*.user
Els_kom_Core/Classes/Git.cs
# hack for Visual Studio Designer.
Els_kom_Core/Classes/ResourcesDir.cs
*.res
Els_kom/Resources/els_kom.resx
# build log crap.
*.log
*.tlog
*.lastbuildstate
# local backup files.
*.bak
# possible patch files that can be made by anyone.
*.patch
*.diff
externals
!externals/README.md
Plugins
!Plugins/README.md
# build profiling files.
*.diagsession
# zip files.
*.zip
