obj
bin
old
.vs
*.user
Els_kom/Properties/GitAssemblyInfo.cs
*.res
Els_kom/Resources/els_kom.resx
# build log crap.
*.log
*.tlog
*.lastbuildstate
# local backup files.
*.bak
# possible patch files that can be made by anyone.
*.patch
*.diff
Plugins
!Plugins/README.md
# build profiling files.
*.diagsession
# zip files.
*.zip
# legacy VB6 build files.
!/legacy/Els_kom/els_kom.res
!/legacy/Els_kom/Resources.res
!/legacy/Els_kom_Launcher_Stub/Launcher.res
!/legacy/Els_kom_Test_Mods_Stub/Test_Mods.res
!/legacy/bin/*
# jetbrains rider files.
.idea/*
# Private copy of the pcbuild solution file containing the plugin projects.
pcbuild.private.sln
Sdk/
