externals/zlib/* linguist-vendored
externals/zlib/inffixed.h linguist-language=c
externals/zlib/trees.h linguist-language=c
Python/* linguist-vendored
build.bat linguist-vendored
etc/* linguist-vendored
