name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_NOLOGO: true
    steps:
    # clone the Sdk repository.
    - uses: actions/checkout@v2
    - uses: actions/checkout@v2
      with:
        repository: 'Elskom/Sdk'
        ref: 'main'
        path: 'Sdk'
        # we need the submodule inside of the Sdk so it can build it properly.
        submodules: recursive

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.100-preview.3.21202.5

    - name: Build and package Sdk.
      run: |
        cd Sdk/
        dotnet restore
        dotnet build --configuration Release --no-restore
        dotnet pack --configuration Release --no-build

    - name: Build with dotnet
      run: |
        dotnet nuget add source D:\a\Els_kom_new\Els_kom_new\Sdk\artifacts --name "My local package builds"
        dotnet build --configuration Release
