name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_NOLOGO: true
    steps:
    - uses: actions/checkout@main

    - name: Install latest .NET 6 SDK
      uses: Elskom/setup-latest-dotnet@main
      with:
        VERSION_MAJOR: '6'
        VERSION_BAND: '2xx'

    - name: Install Elskom workload
      uses: nick-invision/retry@master
      with:
        timeout_minutes: 2
        max_attempts: 50
        retry_on: error
        command: |
          dotnet tool restore
          dotnet tool run elskom-check -- install # this will install the entire workload.

    - name: Restore, and Build
      uses: Elskom/build-dotnet@main
      with:
        RESTORE: true
        PACK: false
        PUSH: false
